<!-- templates/landing/partials/login_card.html -->

<div class="uk-card uk-card-body">
    <h3 class="uk-card-title">Login</h3>

    <form method="POST" action="login.html">

        <div class="uk-margin">
            <input class="uk-input" name="username" type="text" placeholder="Username" aria-label="Username">
        </div>

        <div class="uk-margin">
            <input class="uk-input" name="password" type="password" placeholder="Password" aria-label="Password">
        </div>

        <button class="uk-button uk-button-default">Accedi</button>

    </form>

</div>