<!-- templates/landing/partials/navbar.html -->
<nav class="uk-navbar-container" uk-navbar style="padding: 1rem;">
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            {% if title == 'Home' %}
            <li class="uk-active">
                <a  href="{{ url_for('index') }}">Home</a>
            </li>
            {% else %}
            <li>
                <a  href="{{ url_for('index') }}">Home</a>
            </li>
            {% endif %}
            {% if title == 'Login' %}
            <li class="uk-active">
                <a  href="{{ url_for('login') }}">Login</a>
            </li>
            {% else %}
            <li>
                <a  href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>