<!-- templates/warehouse/missed_part.html -->

{% extends "admin/base.html" %}

{% block content %}

<div class="flex w-full flex-col">
  <div class="rounded-box grid place-items-center">

    {% include 'shared/components/menu_table.html' %}

  </div>

  <div class="divider">Table</div>

  <div class=" h-20">


  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    
      {% include 'shared/components/table.html' %}

  </div>

  </div>
</div>

{% endblock %}

{% include 'shared/components/modals_add.html' %}
{% include 'shared/components/modals_delete.html' %}