<!-- templates/warehouse/partials/missed_list.html -->

{% for table_data in table_datas %}
      <tr class="hover:bg-base-300">
        <th>                      
            <label>
                <input type="checkbox" class="checkbox" />
            </label>
        </th>
        <td>{{table_data.code}}</td>
        <td>{{table_data.description}}</td>
        <td>{{table_data.quantity}}</td>
        <td>{{table_data.position}}</td>
        <td>{{table_data.order}}</td>
      </tr>
{% endfor %}