<!-- templates/warehouse/partials/login_card.html -->


<fieldset class="fieldset">

    {% if error %}
        <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{error}}</span>
        </div>
    {% endif %}

    <form action="{{url_for('login')}}" method="post">

        <label class="label">Username</label>
            <input type="text" name="username" class="input" placeholder="Username" />

        <label class="label">Password</label>
            <input type="password" name="password" class="input" placeholder="Password" />

        <div><a class="link link-hover">Forgot password?</a></div>

        <button class="btn btn-neutral mt-4">Login</button>
        
    </form>

</fieldset>
