<!-- templates/shared/components/settings_account.html -->

<section class="card bg-base-100 shadow-sm border border-base-300">
  <div class="card-body">
    <div class="flex items-start justify-between gap-4">
      <div>
        <h2 class="card-title">Profile Settings</h2>
        <p class="text-sm text-base-content/70">
          Manage your account informations.
        </p>
      </div>
      <div class="badge badge-outline">Account</div>
    </div>

    <div class="divider my-1"></div>

    <div class="space-y-3">
        <form action="">
            <!-- nome -->
            <!-- email -->
            <!-- avatar -->
        </form>
    </div>

    <div class="card-actions justify-end mt-2">
      <button class="btn btn-accent">Save</button>
    </div>
  </div>
</section> 